body {
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    display: grid;
    justify-content: center;
    align-items: center;
    color: snow;
    background-color: cadetblue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: salmon;
}

.header {
    display: flex;
    align-items: center;
    margin-left: -91px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.php-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: -4rem;
    padding: 1rem;
    border: 2px solid midnightblue;
    color: azure;
    font-weight: 600;
}